.about-header{
    height: 87vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-image: 
   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
   margin-bottom: 50px;
}

.about-text{
    max-width: 600px;
    color: white;
    text-align: left;
    padding-left: 150px;
}

.about-img img{
    width: 500px;
    height: auto;
}

.about-data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0% 100px;
    /* margin-bottom: 50px; */
    /* margin-top: 180px; */
}


.about-info{
    max-width: 500px;
    text-align: left;   

}

.about-info h2{
    margin-bottom: 20px;
    font-weight: bold;
}

.about-info p{
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: justify;
}



.team-members {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* margin-bottom: 100px; */
    margin-top: 50px;
}

.team-member-content {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: calc(100% - 40px);

    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-align: center;
    padding: 18px 15px;
    border-radius: 10px;

    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
}


.team-members:hover .team-member-content {
    bottom: 40px;
    opacity: 1;
    pointer-events: auto;
}





.section-padding{
    margin: 250px 0;
}


.accordion-body{
    text-align: justify;
}