.destination-img img {
  height: 300px;
  width: 80%;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease;
}

.destination-img {
  position: relative;
}


.destination-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}


.destination-img:hover img {
  transform: translateY(-5px);
}


.destination-text:hover {
  background-color: rgba(0, 0, 0, 1);
  transform: translateY(-5px);
}

.destination-card{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 400px;
}


.destination-grid{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px !important;
    margin: auto;
    
}


.map-container {
  position: relative;
  width: 90%;
  margin: auto;
  
}

.world-map {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
  object-fit: cover;

}


.pin {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);


}


.pin span {
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 12px;
  background: white;
  padding: 2px 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  white-space: nowrap;
  
  
}
