.carousel-item img {
  height: 600px;
  object-fit: cover;
   /* linear-gradient: (rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5),);  */
}


.carousel-caption{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;    
  margin-bottom: 100px;
}

.carousel-caption button{
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
}

.card-section{
  margin: 100px 0;
  padding: 10px 15%;
}


.card-heading{
  width: 70%;
  margin: auto;
  text-align: center;
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
  
}

.btn{
  margin-right: 10px;
  margin-top: 10px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.check-icons i{
  font-size: 20px;
  color: #007bff;
  margin-bottom: 20px;
}


.check-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
.check-text{
  text-align: center;
}