/* .packages {
  background-image: 
   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url(src/assets/img/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 8%;
  color: #fff;
  text-align: center;
  height: 500px;
  margin-bottom: 100px;
} */

.package-filters {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.search-input,
.filter-select {
  padding: 12px 15px;
  width: 220px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-input {
  width: 260px;
}

.search-input::placeholder {
  color: #333;
}

.filter-select {
  background: #fff;
  color: #222;
  cursor: pointer;
 margin: 50px 10px ;
}


.search-input,
.filter-select {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}




.popular-packages{
     padding: 10px 12%;
     text-align: center;
}


.popular-packages h2{
    font-size: 36px;
    /* margin-bottom: 20px; */
    font-weight: 700;
}
.popular-packages p{
    font-size: 18px;
    color: #555;
    margin-top: 10px;
    text-align: justify;
}


.card-image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    
}


.main-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}


.card{
    width: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
}






@media (max-width: 992px) {

  .packages {
    padding: 60px 5%;
    height: auto;
  }

  .filters {
    flex-wrap: wrap;
    gap: 10px;
  }

  .search-input,
  .filter-select {
    width: 45%;
  }

  .popular-packages {
    padding: 10px 8%;
  }

  .main-card-container {
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    width: 45%;
  }
}

/* Mobile */
@media (max-width: 768px) {

  .packages {
    padding: 50px 5%;
    height: auto;
  }

  .package-text h2 {
    font-size: 28px;
  }

  .package-text h3 {
    font-size: 20px;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }

  .search-input,
  .filter-select {
    width: 90%;
    margin: 10px 0;
  }

  .popular-packages h2 {
    font-size: 28px;
  }

  .popular-packages p {
    font-size: 16px;
  }

  .main-card-container {
    flex-direction: column;
    gap: 25px;
  }

  .card {
    width: 100%;
  }

  .card-image img {
    height: 250px;
  }
}

/* Small Phones */
@media (max-width: 480px) {

  .package-text h2 {
    font-size: 24px;
  }

  .package-text h3 {
    font-size: 18px;
  }

  .search-input,
  .filter-select {
    width: 100%;
  }

  .card {
    padding: 10px;
  }

  .card-image img {
    height: 200px;
  }

  .w {
    font-size: 14px;
  }
}
